<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tool">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        Tên đạo cụ:
        {{ tool.toolName }}
      </h2>
    </ion-label>
    <ion-button (click)="deleteTool()">Xóa đạo cụ</ion-button>
  </ion-item>

  <ion-content padding >
    <form [formGroup]="toolForm"  (ngSubmit)="submitTool()">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h1>Thông Đạo cụ</h1>
            </div>
            <div padding>
              <h3>Mã số đạo cụ</h3>
              <ion-item>
                <ion-input formControlName="toolId" name="toolId" type="text" placeholder="Nhập tài khoản"  required></ion-input>
              </ion-item>
              <h3>Tên đạo cụ</h3>
              <ion-item>
                <ion-input formControlName="toolName" name="toolName" type="text" placeholder="Nhập tên đạo cụ"  required></ion-input>
              </ion-item>
              <h3>Ảnh</h3>
              <ion-item>
                  <ion-input formControlName="image" name="image"  type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
              </ion-item>
              <h3>Mô tả</h3>
              <ion-item>
                <ion-textarea formControlName="description" name="description" type="text" placeholder="Nhập miêu tả"  required></ion-textarea>
              </ion-item>
              <h3>Số lượng</h3>
              <ion-item>
                <ion-input formControlName="quantity" name="quantity" type="number"  required></ion-input>
              </ion-item>
            </div>
            <h3>Trạng thái</h3>
            <ion-item>
              <ion-select  formControlName="status">
                <ion-select-option value="blonde">mới</ion-select-option>
                <ion-select-option value="brown">cũ</ion-select-option>
              </ion-select>
            </ion-item>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="toolForm.invalid" expand="block">Gửi</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

</ion-content>
