<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content padding >
    <form [formGroup]="toolForm"  (ngSubmit)="createTool()">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h1>Thông Đạo cụ</h1>
            </div>
            <div padding>
              <h3>Tên đạo cụ</h3>
              <ion-item>
                <ion-input formControlName="toolName" name="toolName" type="text" placeholder="Nhập tên đạo cụ"  required></ion-input>
              </ion-item>
              <h3>Ảnh</h3>
              <ion-item>
                  <ion-input formControlName="image" name="image"  type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
              </ion-item>
              <h3>Mô tả</h3>
              <ion-item>
                <ion-input formControlName="description" name="description" type="text" placeholder="Enter description"  required></ion-input>
              </ion-item>
              <h3>Số lượng</h3>
              <ion-item>
                <ion-input formControlName="quantity" name="quantity" type="number"  required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="toolForm.invalid" expand="block">Gửi</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

</ion-content>
