<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >


  <ion-content padding >
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h1>Thông tin kiếp nạn</h1>
            </div>
            <div padding>
              <h3>Tên kiếp nạn</h3>
              <ion-item>
                <ion-label>{{this.scene.sceneName}}</ion-label>
              </ion-item>
              <h3>Mô tả</h3>
                <p>
                  {{this.scene.description}}
                </p>
                <ion-item></ion-item>
              <h3>Số lần quay</h3>
              <ion-item>
                <ion-label>{{this.scene.shootTimes}}</ion-label>
              </ion-item>
              <h3>Kịch bản: {{this.scene.sceneScript}}</h3>
              <ion-item>
              <ion-button (click)="onClickToDownload()" expand="block" fill="clear" shape="round">
                Nhấn để tải kịch bản
              </ion-button>
              </ion-item>
              <h3>Ngày bắt đầu</h3>
              <ion-item>
              <ion-label>MM DD YY</ion-label>
                  <ion-datetime  displayFormat="DD/MM/YYYY" disabled [value]="this.scene.dateBegin"></ion-datetime>
              </ion-item>
              <h3>Ngày kết thúc</h3>
              <ion-item>
                <ion-label>MM DD YY</ion-label>
                  <ion-datetime displayFormat="DD/MM/YYYY" disabled [value]="this.scene.dateEnd"></ion-datetime>
              </ion-item>
              <h3>Diễn viên</h3>
                <ion-list>
                  <ion-item *ngFor="let actor of selectedActorList">
                    <ion-label>{{actor.userName}}</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-list>
                <h3>Đạo cụ</h3>
                <ion-list>
                  <ion-list>
                    <ion-item *ngFor="let tool of selectedToolList">
                      <ion-label>Tên:{{tool.toolName}}</ion-label>
                      <ion-label>Số lượng: {{tool.quantity}}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>

</ion-content>
