<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="scene">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        Mã số kiếp nạn:
        {{ scene.sceneId }}
      </h2>
    </ion-label>
    <ion-button (click)="deleteScene()">Xóa kiếp nạn</ion-button>
  </ion-item>



  <ion-content padding >
    <form [formGroup]="sceneForm"  (ngSubmit)="submitScene()">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h1>Thông tin kiếp nạn</h1>
            </div>
            <div padding>
              <h3>Tên kiếp nạn</h3>
              <ion-item>
                <ion-input formControlName="sceneName" name="sceneName" type="text" placeholder="Nhập tên kiếp nạn"  required></ion-input>
              </ion-item>
              <h3>Mô tả</h3>
              <ion-item>
                <ion-textarea formControlName="description" name="description" type="text" placeholder="Nhập miêu tả"  required></ion-textarea>
              </ion-item>
              <h3>Số lần quay</h3>
              <ion-item>
                <ion-input formControlName="shootTimes" name="shootTimes" type="number"  required></ion-input>
              </ion-item>
              <h3>Kịch bản: {{this.scene.sceneScript}}</h3>
              <ion-item>
                  <ion-input formControlName="sceneScript" name="sceneScript"  type="file" required (change)="changeListener($event)"></ion-input>
              </ion-item>
              <h3>Ngày bắt đầu</h3>
              <ion-item>
                <ion-label>MM DD YY</ion-label>
                <ion-datetime formControlName="dateBegin" displayFormat="DD/MM/YYYY" max="2100-12-31"  placeholder="Select Date"></ion-datetime>
              </ion-item>
              <h3>Ngày kết thúc</h3>
              <ion-item>
                <ion-label>MM DD YY</ion-label>
                <ion-datetime formControlName="dateEnd" displayFormat="DD/MM/YYYY" max="2100-12-31"  placeholder="Select Date"></ion-datetime>
              </ion-item>
              <h3>Diễn viên</h3>
              <ion-select formControlName="selectActor" [(ngModel)]="selectedActor"  (ionChange)="addActor(selectedActor)" placeholder="Chọn diễn viên">
                <ion-select-option *ngFor="let actor of actors">{{actor.userName}}</ion-select-option>
              </ion-select>
                <ion-list>
                  <ion-item *ngFor="let actor of selectedActorList">
                    <ion-label>{{actor.userName}}</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-list>
                <h3>Đạo cụ</h3>
                <ion-select formControlName="selectTool" [(ngModel)]="selectedTool"  (ionChange)="addTool(selectedTool)" placeholder="Chọn đạo cụ">
                  <ion-select-option *ngFor="let tool of tools" [value]="tool.toolId">{{tool.toolName}}</ion-select-option>
                </ion-select>
                <ion-list>
                  <ion-list>
                    <ion-item *ngFor="let tool of selectedToolList">
                      <ion-label>Tên:{{tool.toolName}}</ion-label>
                      <ion-label>Số lượng: {{tool.quantity}}</ion-label>
                        <button type="button" size="large" (click)="incrementQty(tool.toolId)">Tăng</button>
                        <button type="button" size="large"(click)="decrementQty(tool.toolId)">Giảm</button>
                    </ion-item>
                  </ion-list>
                </ion-list>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="sceneForm.invalid" expand="block">submit</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

</ion-content>
