
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Đạo cụ</ion-title>
    <ion-button size="small" slot="end"  (click)="createTool()">Tạo mới</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Đạo cụ</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-list>
      <app-tool *ngFor="let tool of tools" [tool]="tool">></app-tool>
    </ion-list>
  </ion-content>