<ion-item *ngIf="tool" [routerLink]="'/tools/' + tool.toolId" [detail]="false">
  <ion-label class="ion-text-wrap">
      <ion-img [src]="imageApi + tool.image"></ion-img>
    <h2>
      Tên đạo cụ:
      {{ tool.toolName }}
      <span class="date">
        <ion-note>Số lượng {{ tool.quantity }}</ion-note>
        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3>Trạng thái: {{ tool.status === true ? 'mới' : 'cũ'}}</h3>
    <h4>Miêu tả:</h4>
    <p>
      {{tool.description}}
    </p>
  </ion-label>
  </ion-item>